@using Tutorias.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model TutorshipPetition

<h1>Petición realizada con éxito</h1>

<a href="/home/index">Volver al inicio</a>