@page
@model Tutorias.Views.Home.AboutModel
@{
}

<h1 class="my-4">Aplicación creada para énfasis profesional</h1>
<h3 class="my-2">Juan Camilo Uribe Villa</h3>
<h3 class="my-2">Jhonny Quiroz Acosta</h3>
<h3 class="my-2">Natalia Segura Ramírez</h3>