@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-wrap justify-content-center text-center">
    <h3 class="display-4 row">TUTORÍAS</h3>
    <div class="row">
        <h4 class="text-muted justify-content-center text center">Elige a los mejores tutores del país para potenciar tu aprendizaje o únete a nosotros para demostrar tus habilidades al mundo.</h4>
    </div>

    <img class="card-img-top img-fluid" style="padding:15px; object-fit: cover;" src="/Images/Logos_UAM-05.png">
</div>
